.grid__layout {
  background-color: black;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-flow: dense;
  padding: 1rem;
  overflow: hidden;
  transition: 2s;
}

