.container__layout {
  /* display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr); */
  background-color: grey;
  padding: 9.5rem;
  max-width: 100vw;
}

.container__text {
  color: white;
  padding: 8rem;
  font-size: 1.8rem;
  /* grid-row: span 8;
  grid-column: 5 / span 4; */
}

.image__container {
  display: grid;
  place-items: center center;
  /* background-color: darkgrey; */
  float: left;
  width: 400px;
  height: 400px;
  /* padding: 4rem; */
  border-radius: 60%;
  shape-outside: circle(40%);
  margin-right: 6rem;
}
.contact {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

.contact > div {
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all;
}

.contact:hover div {
  opacity: 1;
}

.contact:hover > a {
  display: inline-block;
  transition: 0.7s;
  opacity: 0;
  /* transform: rotate(180deg); */
}
